/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
body{
    background-image:url("static/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.s-IL5CpgFln3Ec {
    margin: 0 auto !important;
}

*/
html, body{
    /*overflow: hidden;*/
    text-transform: uppercase !important;
}
@media print{
    header-master{
        display: none !important;
    }
    #modal.s-8zmRcHp9osYc{
        top: 0 !important;
        margin-top: 200px !important;
        left: 0 !important;
        margin-left: 85px;
    }
    button{
        display: none !important;
    }
    a{
        display: none;
    }
    img{
        display: none;
    }
    .title{
        display: none !important;
    }
    h1{
        font-size: 50px !important;
        margin: 0px !important;
        padding: 0 !important;
        font-weight: bold;
    } 
    .pt-2{
        padding-top: 0 rem !important;
    }
    .pb-2{
        padding-bottom: 0 rem !important;
    }
    h2{
        font-size: 16px !important;
        margin: 0px !important;
        padding: 0 !important;
    }
    h2{
        display: none !important;
    }
    h3{
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .time{
        display:none !important;
    }
    .note{
        font-size: 10px !important;
        width: 150px;
        word-wrap: break-word;
        text-align: center;
        margin: 0 auto;
        padding-top: 5px !important;
    }
    .subHeader{
        display: none;
    }
    #modal {
		top: 200px !important;
		left: 100px !important;
		width: 300px !important;
		background: #fff;
	}
    .titleHeader{
        display: none !important;
    }
}
.note{
    padding-top: 23px;
    text-align: center;
    margin: 0 auto;
}

