/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
body{
    background-image:url("static/bg.svg");
    background-repeat: no-repeat;
    background-position: 20% 25%;
}
*/

.header-bg{
    background-image:url("static/icons/header-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.content-bg{
    background-image:url("static/icons/content-bg.svg");
    background-repeat: no-repeat;
}
.queue{
    background-image:url("static/menu-bg/queue.jpg");  
}
.bpls{
    background-image:url("static/menu-bg/bpls.jpg"); 
    background-size: contain;
    background-size: cover;
}
.rpt{
    background-image:url("static/menu-bg/rpt.jpg"); 
    background-size: contain;
    background-size: cover;
}
.cedula{
    background-image:url("static/menu-bg/cedula.jpg");
    background-size: 100% 100%;  
    background-size: contain;
    background-size: cover;
}
.market{
    background-image:url("static/menu-bg/market.jpg");
    background-size: 100% 100%;  
    background-size: contain;
    background-size: cover;
}
.water{
    background-image:url("static/menu-bg/water.jpg"); 
    background-size: contain;
    background-size: cover;
}

html, body{
    /*overflow: hidden;
    text-transform: uppercase !important;*/
}
@media print{
    header-master{
        display: none !important;
    }
    #modal.s-8zmRcHp9osYc{
        top: 0 !important;
        margin-top: 200px !important;
        left: 0 !important;
        margin-left: 85px;
    }
    button{
        display: none !important;
    }
    a{
        display: none;
    }
    img{
        display: none;
    }
    .title{
        display: none !important;
    }
    h1{
        font-size: 50px !important;
        margin: 0px !important;
        padding: 0 !important;
        font-weight: bold;
    } 
    .pt-2{
        padding-top: 0 rem !important;
    }
    .pb-2{
        padding-bottom: 0 rem !important;
    }
    h2{
        font-size: 16px !important;
        margin: 0px !important;
        padding: 0 !important;
    }
    h2{
        display: none !important;
    }
    h3{
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .time{
        display:none !important;
    }
    .note{
        font-size: 10px !important;
        width: 150px;
        word-wrap: break-word;
        text-align: center;
        margin: 0 auto;
        padding-top: 5px !important;
    }
    .subHeader{
        display: none;
    }
    #modal {
		top: 200px !important;
		left: 100px !important;
		width: 300px !important;
		background: #fff;
	}
    .titleHeader{
        display: none !important;
    }
}
.note{
    padding-top: 23px;
    text-align: center;
    margin: 0 auto;
}

